<html>
<head>
<title>www.bilisimogretmeni.com</title>
</head>
 <body > 
<table border=2 bordercolor=red width="800" align=center> 
<tr><td align=center colspan=3> 
<br><br><br> WEB SİTEME HOŞGELDİNİZ <br><br><br>
 </td></tr> 
 <tr> <td width=15% align=center> MENÜ </td> 
 <td width=70% align=center>
 <br><br><br><br><br><br><br><br><br><br><br>
SİTE İÇERİĞİ BURADA
 <br><br><br><br><br><br><br><br><br><br><br>
 </td> <td width=15% align=center> 
REKLAMLAR
 </td> </tr> 
 <tr><td align=center colspan=3> 
 <br><br> ALTBÖLÜM <br><br> 
 </td></tr> 
 </table> 
 </body> </html> 